html {
  min-height: 100%; }

body, html {
  height: 100%; }

#root {
  height: 100%; }

#rutas {
  display: flex;
  height: 100%; }
  #rutas #dpizza {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; }
    #rutas #dpizza #adicionar-sucursal {
      padding: 20px;
      height: 280px;
      width: 100%; }
      #rutas #dpizza #adicionar-sucursal label {
        width: 100%;
        height: 20%; }
      #rutas #dpizza #adicionar-sucursal button[type=submit] {
        width: 100%; }
    #rutas #dpizza #sucursales {
      width: 100%;
      height: 100%;
      overflow: auto;
      padding-left: 20px;
      padding-right: 20px; }
      #rutas #dpizza #sucursales .sucursal {
        width: 100%;
        padding: 15px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        #rutas #dpizza #sucursales .sucursal .panel-superior {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          text-align: center;
          margin-bottom: 10px; }
          #rutas #dpizza #sucursales .sucursal .panel-superior :first-child {
            width: 50%;
            display: flex;
            justify-content: center;
            height: 100%;
            font-size: 20px; }
          #rutas #dpizza #sucursales .sucursal .panel-superior :last-child {
            width: 50%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center; }
        #rutas #dpizza #sucursales .sucursal .panel-inferior {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around; }
        #rutas #dpizza #sucursales .sucursal label {
          font-size: 100%; }
  #rutas #menu {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px; }
    #rutas #menu button[type=submit] {
      width: 100%;
      height: 10%; }
    #rutas #menu #productos {
      width: 100%;
      height: 90%;
      overflow: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      #rutas #menu #productos div {
        width: 200px; }
      #rutas #menu #productos img {
        height: 150px;
        width: 200px; }
  #rutas form {
    height: 100%;
    width: 60%;
    padding: 20px; }
    #rutas form button[type=submit] {
      width: 100%; }
  #rutas .card-content {
    min-height: 280px;
    max-height: 280px; }
    #rutas .card-content #ingredientes {
      max-height: 140px;
      max-width: 170px;
      overflow: auto; }
  #rutas .card-action {
    padding-top: 12px;
    padding-bottom: 12px; }
  #rutas #subir-foto {
    height: 100%;
    width: 60%; }
    #rutas #subir-foto form {
      width: 100%;
      height: initial; }

/*# sourceMappingURL=App.css.map */
